# node modules
node_modules/
npm-debug.log
/**/dest/
/**/dist/
**/dest

# ziped tar files
*.tar.gz
*.tgz
*.DS_Store

# nohup File
nohup.out

# temperary files
*.bak
*.swp

# compiled file
*.so
eggs/
.eggs/
*.egg
